# Raw data and competition files
/data/
*.zip
*.csv
*.xlsx
*.parquet
*.pkl
*.joblib

# Outputs
/outputs/
/submissions/
/models/

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.venv/
.env

# OS / IDE
.DS_Store
.vscode/
.idea/
